{% extends 'awwards/base.html' %}

{% block content %}
    <div class="container container-fluid">
        <p>It works</p>
        <div class="card">
            <div class="card-title">
                <h2 class="text-center">Project Name</h2>
            </div>
            <div class="card-body">
                <p class="text-center">About project</p>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="btn" value="Project Link">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="btn" value="owner Phone">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="btn" value="Owner EMail">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small><span>Created on:</span></small>
            </div>
        </div>
    </div>
{% endblock %}