{% extends 'awwards/base.html' %}

{% block content %}
    <div class="container container-fluid">
        <div class="card">
            <img class="card-img-top" src="{{ project.image.url}}" alt="Card image cap">
            <div class="card-title">
                <h2 class="text-center">{{project.title}}</h2>
            </div>
            <div class="card-body">
                <p class="text-center">{{project.article}}</p>
            </div>
            <div class="card-footer">
                <small><span>Posted on:{{ project.pub_date }}</span></small>
            </div>
        </div>
    </div>
{% endblock %}