{% extends 'awwards/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- empty -->
            </div>
            <div class="col-md-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <!-- <legend class="text-center border-bottom">Sign Up Here</legend> -->
                        <h4 class="text-center border-bottom">Sign Up</h4>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- empty -->
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-outline-info" type="submit">Sign Up</button>
                            </div>
                            <div class="col-md-4">
                                <!-- empty -->
                            </div>
                        </div>
                        
                    </div>
                </form>
                <div class="pt-5 border-top">
                    <small class="text-muted">
                        Already a member? <a href="{%url 'login' %}">Login</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}